@import "primeicons/primeicons.css";

.products {
  width: 100%;
}

.products__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  gap: 0.5rem;
  margin-top: 1rem;
}

.img {
  width: 5em;
  margin: auto;
  object-fit: contain;
}

.products__content__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.description {
  font-size: 0.5em;
  color: #838383;
  font-weight: 600;
}

.button {
  cursor: pointer;
}

.app__products__header__nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: start;
  gap: 0.3rem;
}

.autocomplete {
  grid-column: span 2;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 0.5rem;
}
.layout {
  grid-column: 1;
  grid-row: 2;
}
.button#butonAdd {
  height: 2.7rem;
  justify-self: end;
  background-color: #33ec83;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--surface-card);
  font-weight: 600;
  border-radius: 0.4rem;
  cursor: pointer;
  span {
    font-weight: 600;
  }
}

.app__products__create {
  width: 100%;
  height: 100%;
  background: #0000001c;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__products__create__content {
  width: 90%;
  height: 96%;
  background-color: var(--surface-card);
  border-radius: 1rem;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app__products__create__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ChangeProduct_content {
  width: 100%;
}

.ChangeProduct-gridState {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}

.ChangeProduct-gridState__price {
  font-size: 1em;
}

.button {
  border: none;
  outline: none;
  background: none;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 3px #0000001b;
}

.delete {
  background-color: #ec3333;
}

.update {
  background-color: #33ec83;
}

.gridState {
  padding: 0;
  background-color: none;
  border-radius: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridState.delete {
  background: none;
  span {
    color: #ec3333;
    font-size: 1rem;
  }
}

.gridState.update {
  background: none;
  span {
    color: #33ec83;
    font-size: 1rem;
  }
}

@media (min-width: 520px) {
  .app__products__header__nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .autocomplete {
    margin-bottom: 0;
  }

  .products__content {
    flex-direction: row;
    gap: 2rem;
  }

  .products__content__text {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 400px) {
  .products__content__text {
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .text-info__des {
    max-width: 90%;
    overflow: hidden;
  }
}
